#about {
    padding-top: 70px;
}

#wrapper {
    justify-content: center;
    display: flex;
}

#text {
    color: white;
    font-size: 20px;
}

.wrapContainer {
    padding-left: 45px;
    padding-right: 45px;
}

#description {
    max-width: 500px;
    margin: auto;
    border: 1px solid #ffffff;
}