#about {
    padding-top: 100px;
}

#wrapper {
    justify-content: center;
    display: flex;
    padding-top: 100px;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 40px;
}

#button1, #button2 {
    width: 200px;
    margin: 0 auto;
    height: 2.5rem;
}

#aboutTitle {
    text-align: left;
}

#text {
    color: white;
    font-size: 20px;
}

.wrapContainer {
    padding-left:200px;
    padding-right: 200px;
}

#description {
    text-align: left;
    max-width: 500px;
    margin: auto;
    border: none;
}