.landingText {
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Poppins', sans-serif;
}

.landingText span {
    color: #ff006e;
}

.landingText Button {
    color: white;
}

.nav-link {
    z-index : 1001;
    color: #ff006e;
    text-decoration: none;
    padding: 0.5rem 1rem;
}