#wrapperContact {
    background-color: #0b2545;
    color: white;
}

.containerContact {
    padding-top: 30px;
    height: 350px;
}

#contact {
    padding-top: 30px;
}

#tag {
    color: #ff006e;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    display:flex;
}

p span {
    color: #61a5c2;
}


#emailIcon, #telegramIcon {
    margin-right: 14px
}


#email, #telegram {
    justify-content: center;
    align-items: center;
    text-align: center;
    display:flex;
    margin: 30px;
    font-size: 0.8rem;
}

#telegram {
    transform: translate(3.3%, 0%);
}
