#wrapperContact {
    background-color: #0b2545;
    color: white;
}

#contact {
    padding-top: 30px;
}

.containerContact {
    height: 300px;
}

#tag {
    color: #ff006e;
}

#emailIcon, #telegramIcon {
    margin-right: 14px
}

#email, #telegram {
    text-align: center;
    display:flex;
    flex-direction:row;
    margin: 30px;
    font-size: 1rem;
}
