#wrapperContact {
    background-color: #0b2545;
    color: white;
}

.containerContact {
    height: 300px;
}

#contact {
    padding-top: 30px;
}

p span {
    text-decoration: underline;
    text-decoration-color: #ff006e;
}

#tag {
    color: #ff006e;
}

#emailIcon, #telegramIcon {
    margin-right: 14px
}


#email, #telegram {
    justify-content: center;
    align-items: center;
    text-align: center;
    display:flex;
    margin: 30px;
    font-size: 1rem;
}

#telegram {
    transform: translate(4.1%, 0%);
}
