.container {
    max-width: 90%;
    width: calc(100% - 15px);
}

#skills {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
}

.titleBox {
    width: fit-content;
}

.outerBox {
    display:flex;
    flex-direction:row;
}

#box {
    display:flex;
    flex-direction:row;
}

#para1 {
    margin-left: 1em;
}

#para {
    margin-left: 1em;
}

.type {
    text-align: center;
    color: white;
    font-size: 0.8em;
    display: inline-block;
}

#logos {
    padding: 0.2em;
    display:flex;
    flex-direction:row;
}

.area {
    margin-top: 150px;
}

