.container {
    max-width: 90%;
    width: calc(100% - 15px);
}

#skills {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
}

.titleBox {
    width: fit-content;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
    min-width: 20%;
    color: white;
    background-color: rgba(255, 0, 84, 0.9);
    border-radius: 15px 0 0 15px;
}

.outerBox {
    display:flex;
    flex-direction:row;
}

#box {
    display:flex;
    flex-direction:row;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    width: 100%;
}

#para1 {
    margin-left: 1em;
}

#para {
    margin-left: 1em;
}


#logos {
    padding: 0.2em;
    display:flex;
    flex-direction:row;
    text-align: center;
}

#skillAvatar {
    height: 45px;
    width: 45px;
    text-align: center;
}

@media screen and (max-width: 618px) {
    .container {
        padding: 0;
    }

    .titleBox {
        width: fit-content;
        justify-content: center;
        align-items: center;
        padding: 0 0.5rem;
        color: white;
        font-size: 0.7rem;
    }

    #box {
        width: 19rem;
    }

    #para1 {
        margin-left: 0.8em;
    }

    #para {
        margin-left: 0.8em;
    }

    #skillAvatar {
        height: 1.5rem;
        width: 1.5rem;
        text-align: center;
    }

    #skills {
        padding-top: 80px;
        padding-left: 0;
        padding-right: 0;
    }

}

