.cards {
    padding: 4rem;
    background: #fff;
  }

#portfolio {
  padding-top: 70px;
}
  
  h1 {
    text-align: center;
  }

 .title {
     color: #ff006e;
     font-family: 'Poppins', sans-serif;
     font-weight: bolder;
     font-size: x-large;
  }

 .description {
     color: white;
 }