#portfolio {
 padding-top: 70px;
 padding-bottom: 80px;
}

#cardContent {
 height: 270px;
}

#chip {
 font-size: 10px;
}
  
h1 {
text-align: center;
}

#techStack {
 color: black;
}

.title {
 color: #ff006e;
 font-family: 'Poppins', sans-serif;
 font-weight: bolder;
 font-size: x-large;
}

.description {
 color: white;
}

#techStackWrapper {
 flex-wrap: wrap;
 text-align: left;
}


#buttonsWrapper {
 justify-content: center;
}

#wrapperDescription {
 display: flex;
 font-size: 1em;
}

.card {
 background-color: white;
 border-radius: 2%;
 transition: 0.5s;
}

.card:hover {
 box-shadow: 0 0 5px 5px #c4fff9;
 margin-top: -7px;
}
